

<!-- Page Content -->

<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Contact <small>I would Love to Hear From You!</small></h1>
    </div>

    <div class="col-lg-12">
      <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
      <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=seattle+washington&amp;ie=UTF8&amp;hq=&amp;hnear=Seattle,+King,+Washington&amp;gl=us&amp;t=m&amp;ll=47.613223,-122.326412&amp;spn=0.055547,0.109863&amp;z=13&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=seattle+washington&amp;ie=UTF8&amp;hq=&amp;hnear=Seattle,+King,+Washington&amp;gl=us&amp;t=m&amp;ll=47.613223,-122.326412&amp;spn=0.055547,0.109863&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>

    </div><!-- /.row -->
    <div class="col-sm-4">
      <h3>Marshall Lanners</h3>

      <p>
        <br>
        Seattle, WA 98122<br>
      </p>
      <p><i class="icon-phone"></i> <abbr title="Phone">P</abbr>: <a href = "tel:+18052689701">(805) 268-9701</a></p>
      <p><i class="icon-envelope-alt"></i> <abbr title="Email">E</abbr>: <a href="mailto:lanners.marshall@yahoo.com">lanners.marshall@yahoo.com</a></p>
      <ul class="list-unstyled list-inline list-social-icons">
        <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="icon-facebook-sign icon-2x"></i></a></li>
        <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="icon-linkedin-sign icon-2x"></i></a></li>
        <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a></li>
        <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Google+"><i class="icon-google-plus-sign icon-2x"></i></a></li>
      </ul>
    </div>

  </div><!-- /.row -->

</div><!-- /.container -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->


