

    <!-- Page Content -->

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Contact <small>I would love to hear from you!</small></h1>

        <div class="col-lg-12">
          <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
         <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=code+fellows&amp;aq=&amp;sll=47.60621,-122.332071&amp;sspn=0.036573,0.087032&amp;gl=us&amp;g=Seattle,+King,+Washington&amp;ie=UTF8&amp;ll=47.606221,-122.332077&amp;spn=0.020878,0.083136&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=code+fellows&amp;aq=&amp;sll=47.60621,-122.332071&amp;sspn=0.036573,0.087032&amp;gl=us&amp;g=Seattle,+King,+Washington&amp;ie=UTF8&amp;ll=47.606221,-122.332077&amp;spn=0.020878,0.083136&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </div>

      </div><!-- /.row -->

      <div class="row">

        <div class="col-sm-8">
          <h3>Let's Get In Touch!</h3>
          <p>Have any questions want to talk lets get in contact!</p>
                  <form role="form" method="POST" action="contact-form-submission.php">
              <div class="row">
                <div class="form-group col-lg-4">
                  <label for="input1">Name</label>
                  <input type="text" name="contact_name" class="form-control" id="input1">
                </div>
                <div class="form-group col-lg-4">
                  <label for="input2">Email Address</label>
                  <input type="email" name="contact_email" class="form-control" id="input2">
                </div>
                <div class="form-group col-lg-4">
                  <label for="input3">Phone Number</label>
                  <input type="phone" name="contact_phone" class="form-control" id="input3">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-lg-12">
                  <label for="input4">Message</label>
                  <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                </div>
                <div class="form-group col-lg-12">
                  <input type="hidden" name="save" value="contact">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
        </div>

        <div class="col-sm-4">

       <h4>Contact Me</h4>
                        <p><i class="icon-map-marker"></i> Address: Seattle, WA</p>
                        <p><i class="icon-phone"></i> Phone: 805-268-9701</p>
                        <p><i class="icon-user"></i> </p>
                        <p><i class="icon-envelope-alt"></i> Email: <a href="">Lanners.Marshall@yahoo.com</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span4"> </div>
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="icon-facebook-sign icon-2x"></i></a></li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="icon-linkedin-sign icon-2x"></i></a></li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter-sign icon-2x"></i></a></li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Google+"><i class="icon-google-plus-sign icon-2x"></i></a></li>
          </ul>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>


