
<div class="container">
        <div class="col-lg-12">
          <h1 class="page-header">Welcome aboard<small> You're riding My Website!</small></h1>
      </div>
      <div class="row">
        <div class="col-md-8">
          <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Seattle_4.jpg" height= "400" width="700"/>
        </div>

        <div class="col-md-4">
          <h3>Marshall Bio</h3>
          <p>I'm a code junkie living in the greater Seattle area. I enjoy Ruby on Rails, html, css, javascript and more. What to know more about me? Want to see my work?Come check out my site!</p>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">
          <h3 class="page-header">My Social Media</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
          <a href="https://github.com/cheatermoves">
       <img src="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png" width="260" height="170">
       </a>
        </div>

        <div class="col-sm-3 col-xs-6">
          <a href="https://twitter.com/lanners_cool">
       <img src="https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png" width="260" height="170">
       </a>
        </div>

        <div class="col-sm-3 col-xs-6">
          <a href="http://www.linkedin.com/profile/view?id=244273952&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic">
         <img src="http://blogs.nature.com/naturejobs/files/2012/12/LinkedIn-InBug-2CRev.png" width="260" height="170">
         </a>

        </div>

        <div class="col-sm-3 col-xs-6">
        <a href="https://www.facebook.com/marshall.lanners">
          <img src="http://www.3martinilunches.com/Portals/206831/images/facebook_logo.png" width="260" height="190">
          </a>
        </div>
     </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">About Code Fellows<small></small></h1>

      <div class="row">
        <div class="col-md-6">
 <a href="https://www.codefellows.org/new-website-coming-soon"><img src="http://media.tumblr.com/608fb9bb269acce17f4f2f0eac66804b/tumblr_inline_mkro6saay01qz4rgp.jpg"/></a>
        </div>
        <div class="col-md-6">
          <h3>Ruby on Rails</h3>
          <p>I am a code fellow who recently took the intensive <FONT COLOR="red">RUBY ON RAILS</FONT> program. Is RAILS awesome? You bet! This website is build in RAILS. What is there to say about myself? Until Code fellows I was largly self taught in HTML, CSS, and Javascript. Is computer programming hard? No doubt! But its super fun and rewarding at the same time.</p>
        </div>

      </div>

      <!-- Team Member Profiles -->


<div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">About Me</h2>
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">Education</a></li>
            <li><a href="#service-two" data-toggle="tab">Skills</a></li>
            <li><a href="#service-three" data-toggle="tab">Hobbies</a></li>
            <li><a href="#service-five" data-toggle="tab">Interests</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">
              <i class="icon-gear pull-left icon-4x"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
              <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
            </div>
            <div class="tab-pane fade" id="service-two">
              <i class="icon-gears pull-left icon-4x"></i>
              <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
              <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
            </div>
            <div class="tab-pane fade" id="service-three">
              <i class="icon-magic pull-left icon-4x"></i>
              <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
            </div>
            <div class="tab-pane fade" id="service-four">
              <i class="icon-beaker pull-left icon-4x"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
              <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
            </div>
            <div class="tab-pane fade" id="service-five">
              <i class="icon-flag pull-left icon-4x"></i>
              <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
              <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p></p>
          </div>
        </div>
        </div>
      </footer>







