
        <div class="col-md-6">
          <img src="https://0.gravatar.com/avatar/718459026ea442eb4ad049eef57b1ea4?d=https%3A%2F%2Fidenticons.github.com%2Fc2773cacec3b5e9f159ad08f4eac081a.png&s=420"/>

        </div>
        <img src="http://www.seattle-stammtisch.com/sites/default/files/seattle-skyline-with-space-needle.jpg"/>
        <div class="col-md-6">
          <h2>Welcome to Marshall's Portfolio</h2>
          <p>Marshall Lanners is a Ruby on Rails Programmer living in the greater Seattle area. Like this website? He built it in Ruby on Rails.</p>
          <p>Want to hear his story? I love programming and especialy Ruby on Rails. Skills include HTML, JavaScript, CSS, and RoR. Interested in
          knowing more about him? check out his work</p>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">

        </div>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->


    <!-- Add custom CSS here -->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="portfolio">Portfolio</a></li>
              <ul class="dropdown-menu">
                <li><a href="full-width.html">Full Width Page</a></li>
                <li><a href="sidebar.html">Sidebar Page</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="404.html">404</a></li>
                <li><a href="pricing.html">Pricing Table</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">

          <ol class="breadcrumb">

            <li><%= link_to 'READ HIS BLOG', posts_path %></li>
            <li class="active">*INTERESTS*</li>
          </ol>
        </div>

        <ol class="breadcrumb">

            <li><%= link_to 'SEE HIS PROJECTS', projects_path %></li>
            <li class="active">*INTERESTS*</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-md-8">
         <iframe width="600" height="500" src="//www.youtube.com/embed/p5EIrSM8dCA?list=PL84057E546C17DA4B" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col-md-4">






<a href="https://www.codefellows.org/new-website-coming-soon"><img src="https://www.codefellows.org/assets/logo-9b9c2ba71305e3452de1acbd515ee606.png" /></a>
          <p> What does it mean to be a Code Fellow? Well it certainly does not mean being a <a href="http://en.wikipedia.org/wiki/Cowboy_coding">COWBOY-CODER.</a> It means you follow the best practices, your agile like a tiger, or getter yet a really attentive kitten, and you make sure your tests are always passing. As a Code Fellow, I tackle changes before they tackle me!</p>

          </ul>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">
          <h3 class="page-header">My Social Media</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
        <a href="https://github.com/cheatermoves">
       <img src="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png" width="260" height="170">
       </a>
        </div>

       <a href="https://twitter.com/lanners_cool">
       <img src="https://si0.twimg.com/profile_images/2284174758/v65oai7fxn47qv9nectx.png" width="260" height="170">
       </a>

        <div class="col-sm-3 col-xs-6">
        <a href="http://www.linkedin.com/profile/view?id=244273952&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic">
         <img src="http://blogs.nature.com/naturejobs/files/2012/12/LinkedIn-InBug-2CRev.png" width="260" height="170">
         </a>
        </div>

        <div class="col-sm-3 col-xs-6">

          <a href="https://www.facebook.com/marshall.lanners">
          <img src="http://www.3martinilunches.com/Portals/206831/images/facebook_logo.png" width="260" height="190">
          </a>
        </div>


      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Company 2013</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>

                        <h4>Contact Me</h4>
                        <p><i class="icon-map-marker"></i> Address: Seattle, WA</p>
                        <p><i class="icon-phone"></i> Phone: 805-268-9701</p>
                        <p><i class="icon-user"></i> </p>
                        <p><i class="icon-envelope-alt"></i> Email: <a href="">Lanners.Marshall@yahoo.com</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span4"> </div>








