<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('http://blog.bounceweb.com/wp-content/uploads/2010/09/Tools-for-Ruby-on-Rails-logo.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://i.imgur.com/KLkLxBC.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://fc02.deviantart.net/fs71/f/2012/037/c/4/css3_wallpaper_2_by_neersighted-d4ox1cr.jpg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://prasadprechu.files.wordpress.com/2013/01/twitter-bootstrap-website-for-inspiration-cssauthor-com.png?w=657&h=277');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://fc06.deviantart.net/fs71/f/2011/026/9/2/html_5_wallpaper_by_bqra-d382muo.jpg');"></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
